.advs {
  &Title {
    margin-bottom: 28px;
  }
  &Item {
    display: flex;
    column-gap: 15px;
    &:not(:last-child){
      margin-bottom: 28px;
    }

    &Icon {
      width: 36px;
      height: 36px;
      border-radius: 10px;
      background-color: #175AEA;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 22px;
      }
    }

    &Name {
      font-weight: 600;
      margin-bottom: 2px;
      line-height: 20px;
    }

    &Text {
      font-size: 14px;
      line-height: 18px;
      color: rgba(0, 0, 0, 0.60);
    }
  }
}